@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.navbar {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLink {
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-brand,
.nav-link {
  color: white !important; /* Set your desired text color here */
}

.navLink:hover {
  background-color: #EABE6C;
}

.lesson-table th,
.lesson-table td {
    font-size: 0.8rem; /* Adjust the font size as needed */
}

.navbar {
  background-color: #944E63 !important;
}

.table-header {
  background-color: #CAA6A6 !important;
  text-align: center;
  color: white;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #FEFBF6;
 }

 .lesson-table th,
.lesson-table td {
  border: none; /* Remove border */
}

.custom-filter-button {
  background-color: #B2A59B !important;
  border: none !important;
  outline: none !important;
}

/* app.css */
.custom-add-note-button {
  background-color: #B2A59B !important;
  border: none !important;
  outline: none !important;
}

